<h1 align="center">{{ student.studentNumber }} {{ student.name }}</h1>
{{ AttendanceRate }}%<br>
<input type="date" [ngModel]="selectDate" autocomplete="on" >までの5日分を表示
<table style="margin-top: 10px" align="center"  class="table table-striped">
  <tr align="center">
    <th>日付 \ 時間</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
  </tr>
  <tr *ngFor="let attendanceDate of student.schoolDays"><td align="center">{{attendanceDate.date}}</td>
    <td *ngFor="let Attendances of attendanceDate.attendances" align="center">{{attendanceresult(Attendances.status)}}</td></tr>
</table>

