<div id="header" class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="#" class="navbar-brand">出席管理システム</a>

  <div ngbDropdown class="d-inline-block" id="dropdown">
    <button class="btn" ngbDropdownToggle>Menu</button>
    
    <div ngbDropdownMenu>
      <a class="dropdown-item">ログイン</a>
      <a class="dropdown-item">パスワード変更</a>
      <hr>
      <span class="dropdown-item" style="font-weight: bold">教員</span>
      <a class="dropdown-item">登校日管理</a>
      <a class="dropdown-item">出席状況確認</a>
      <hr>
      <span class="dropdown-item" style="font-weight: bold">学生</span>
      <a class="dropdown-item">登校日登録</a>
      <a class="dropdown-item">出席状況確認</a>
    </div>
  </div>
</div>